.products {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.head{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.head:before, .head:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #FFC7D1;
    margin: auto;
  }
.head:before {
    margin-right: 10px
  }
.head:after {
    margin-left: 10px
  }

.productList {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
}
.viewContainer{
    display: flex;
    justify-content: center;
    margin-top: 28px;
}
.view{
    background-color:#770015 ;
    color: white;
    padding: 12px 28px;
    cursor: pointer;
}
.bannerCont{
    width: 100%;
    margin-top: 40px;
}
.banner{
    width: 100%;
}