
.section{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
}

.topSection{
    display: flex;
    column-gap: 16px;
    justify-content:center ;
    box-sizing: border-box;
}
.bottomSection{
    display: flex;
    margin-top: 16px;
    justify-content: center;
    column-gap: 16px;
    box-sizing: border-box;
}
.section1,.section2{
   width: calc(50% - 16px);;
}
.section3,.section4,.section5{
    width: calc(33.3% - 16px);;
 }